.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  background-color: white;
  height: 3vw;
  width: 100%;
  box-shadow: 1px 6px 12px rgb(234, 236, 240);

  .icon {
    font-size: 28px;
  }

  .header-leftContent-searchInput {
    border: 2px solid gray;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 20px;
    input {
      color: rgb(87, 87, 87);
      border: none;
      outline: none;
      padding: 5px 10px;
      font-size: 20px;
    }
  }
}

.header-leftContent,
.header-rightContent {
  padding: 0 40px;
  display: flex;
  align-items: center;
  gap: 25px;
}
